body {
  margin: 0;
  background-image: url("./images/background img raingow.png"), url("bg1.jpg");
  background-color: #fffaee;
  font-family: "Quattrocento", serif;
  font-style: #484748;
}

.page {
  align-content: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: baseline;
}

.backgroundimg {
  background-image: url(../hemsida!/images/background\ img\ rainbow.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

img {
  height: 100vh;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  align-items: center;
}
.p {
  font-family: "Quattrocento", serif;
  font-size: 24px;
}

.header {
  font-family: "Oswald", sans;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: -1rem;
}

.textbox {
  display: flex;
  object-fit: cover;
  flex-direction: column;
  width: 280px;
  justify-content: flex-end;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.textbox2 {
  display: flex;
  object-fit: cover;
  flex-direction: column;
  width: 464px;
  justify-content: flex-end;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.button {
  position: fixed;
  right: 0;
  border-color: #484748;
  text-decoration: none;
  border-style: solid;
  margin: 2rem;
  border-radius: 2px;
  border-radius: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
}

.header2 {
  font-family: "Oswald", sans;
  font-size: 64px;
  font-weight: bold;
}

.aboutme {
  width: 1200px;
}

.imgsize {
  margin-top: 156px;
  height: 80vh;
}

.imgsize2 {
  margin-top: 200px;
  height: 60vh;
}

@media all and (max-width: 720px) {
  .p {
    font-size: 20px;
  }

  .header {
    font-size: 28px;
  }

  .textbox {
    margin-bottom: 1rem;
  }

  .page {
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
  }

  .backgroundimg {
    background-image: none;
  }

  img {
    margin-bottom: 4rem;
    position: relative;
    height: 60vh;
  }

  .imgsize {
    height: 50vh;
    margin-top: auto;
  }

  .imgsize2 {
    margin-bottom: auto;
    margin-top: auto;
    height: 40vh;
  }
}
